<div class="div-container ">
    <div class="col-left"></div>
<div class="formcontent col-center">
<form id="location-form" [formGroup]="locationForm" (submit)="onLocationSubmit( )">
    <div class="form-group ">
        <div class="col-10">
            <mat-form-field appearance="legacy">
                <mat-label>Location Name</mat-label>
                <input matInput class="form-control" type="text" id="name-input" 
                 placeholder="Name" 
                formControlName="name">
            </mat-form-field>
        </div>
    </div>

    <div class="form-group ">
        <div class="col-10">
            <mat-form-field appearance="legacy">
                <mat-label>Description:</mat-label>
                <textarea matInput class="form-control" type="text" id="description-input" 
                placeholder="Description" 
                formControlName="description"></textarea>
            </mat-form-field>
        </div>
    </div>

    <div class="form-group ">
        <div class="col-10">
            <mat-form-field appearance="legacy">
                <mat-label>Address id:</mat-label>
                <input matInput class="form-control" type="number" id="addressId-input" 
                placeholder="AddressId" 
                formControlName="addressId">
            </mat-form-field>
        </div>
    </div>

    <div class="form-group ">
		<div class="col-12">
			<button mat-raised-button color="accent" id="submit-location-btn" class="btn btn-primary" type="submit"
				 >Submit</button>
		</div>
	</div>
</form>
<div>
        <button mat-raised-button color="primary" id="reset" id="reset-btn" class="resetBtn" (click)="onReset()">Reset</button>
    </div>
</div>
</div>
