<h3>Raised Buttons</h3>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>
</div>
<button type="button" class="button" (click)="showSuccess()">Show Success</button>
<button type="button" class="button" (click)="showError()">Show Error</button>
<button type="button" class="button" (click)="showWarning()">Show Warning</button>
<button type="button" class="button" (click)="showInfo()">Show Info</button>
<button type="button" class="button" (click)="showAddAddressForm()">Add address</button>
<app-login></app-login>
<app-register></app-register>
<router-outlet></router-outlet>