<div class="row">
	<div class="col">
		<h2>Edit Event</h2>
		<app-event-form [eventForm]="eventUpdForm" [event]="event" [hideFormFields]="true" 
		(submit)="onEventSubmit($event)" (resetClicked)="onReset($event)"></app-event-form>
	</div>
	<div class="col">
		<h2>Add Event Sector</h2>
		<!--<app-hall-form [hallForm]="hallForm" [hall]="hall" (submit)="onHallSubmit($event)" 
		(resetHallClicked)="onResetHall($event)"></app-hall-form>-->
	</div>
	<div class="col">
		<h2>Available Sectors</h2>
		<!--<div class="table-sector" id="table-sector">
			<app-sector-table [sectors]="sectorList" (deleteSectorClicked)="onDelete($event)"></app-sector-table>
		</div>-->
	</div>
</div>

