<mat-toolbar color="primary" class="navbar">

    <button mat-button routerLink="/events">
      <mat-icon>event_available</mat-icon>
      <span>Events Booking</span>
    </button>
    <span class="spacer"></span>


  
    <!-- UNREGISTERED USER NAVBAR -->
    <div *ngIf="!isAuthenticated">
      <button mat-button (click)="login()" id="login-btn">
        <mat-icon>input</mat-icon>
        <span>Login</span>
      </button>
      <button mat-button (click)="register()" id="register-btn">
        <mat-icon>person_add</mat-icon>
        <span>Register</span>
      </button>
    </div>
  
    <!-- REGISTERED USER NAVBAR -->
    <div *ngIf="isAuthenticated && role==='ROLE_REGISTERED_USER'">
      <button mat-button routerLink="/my-reservations">My Reservations</button>
      <button mat-button routerLink="/profile">Profile</button>
      <button mat-button (click)="logout()" id="logout-btn">
        <mat-icon>account_circle</mat-icon>
        <span>Logout</span>
      </button>
    </div>
  
    <!-- SYS ADMIN NAVBAR -->
    <div *ngIf="isAuthenticated && role==='ROLE_SYS_ADMIN'">
      <button mat-button routerLink="/events/new">Add Event</button>
      <button mat-button routerLink="/venues/list">Venues</button>
      <button mat-button (click)="logout()" id="logout-btn">
        <mat-icon>account_circle</mat-icon>
        <span>Logout</span>
      </button>
    </div>

    <!-- ADMIN NAVBAR -->
    <div *ngIf="isAuthenticated && role==='ROLE_ADMIN'">
        <button mat-button routerLink="/events/new">Add Event</button>
        <button mat-button routerLink="/venues/list">Venues</button>
        <button mat-button (click)="logout()" id="logout-btn">
            <mat-icon>account_circle</mat-icon>
            <span>Logout</span>
        </button>
      </div>
  </mat-toolbar>