table, #paginator {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}
mat-form-field {
  font-size: 14px;
  width: 100%;
}
button {
    margin-left: 25%;
    width: 50%;
}
th.mat-sort-header-sorted {
  color: black;
}