
    <div id="imgContainer" style="margin-left: 15px;margin-top: 15px">
    <h1 id="imePrezime">{{user.firstName}} {{user.lastName}}</h1>
        <div class="imagePicker">
            <img id="profile_img" src="{{user.imageUrl}}" alt="Image preview..." > <br>
            
        </div>
        <div class="upload-btn-wrapper">
            <input id="choosePicture" type="file"  (change)="onFileSelected($event)" #fileInput multiple="multiple" accept="image/*" title="Choose picture"
            name="myfile" style="width: 250px; margin-top: 10px;" />
            <button type="button" (click)="onUpload()" class="upload-file-btn" style="width: 250px; margin-top: 8px;" >Upload new picture</button>
        </div><br>
        <div style="margin-top: 5px">
            <a class="btn btn-primary" id="changePasswordLink" [routerLink]="[ '/changePassword']">Change Password</a>
        </div>
    </div>

    <form id="editProfileForma" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="grid-container">
        <div class="grid-item">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input id="firstname-input" type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': f.firstName.touched && f.firstName.errors }" />
                <div *ngIf="f.firstName.touched && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastname-input" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': f.lastName.touched && f.lastName.errors }" />
                <div *ngIf="f.lastName.touched && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email-input" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.email">Please enter a valid email</div>
                    <div *ngIf="f.email.errors.required">Email is required</div>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username-input" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                    <div *ngIf="f.username.errors.minlength">Username must be at least 3 characters</div>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="form-group">
                <label for="pwChanged">Password changed</label>
                <input type="text" name="pwChanged" class="form-control"  placeholder="Password changed" disabled 
                value="{{user.lastPasswordResetDate  | date:medium }}">
            </div>
        </div>
        <div class="grid-item">
            <div class="form-group">
                <label for="phoneNumber">Phone number</label>
                <input type="text" id="phonenumber-input" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
                <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.phoneNumber.errors.required">Phone number is required</div>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="form-group">
                <button [disabled]="loading" id="updateUserBtn" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Save changes
                </button>
                <button id= "cancelUserBtn" class="btn btn-link" (click)="reset($event)">Revert changes</button>
            </div>
        </div>
        
        <input type="hidden" id="userId" value="{{user.id}}">

    </div>
</form>

<input id="hiddenErrorMessage" type="text" value="{{this.errorMessage}}" hidden>